-- Phase 2: Human Handoff & Operations

-- 1. Users Table (Manage individual user state)
create table if not exists public.users (
    tenant_id text references public.tenants(tenant_id),
    user_id text not null, -- LINE User ID
    display_name text, -- To be updated via LINE Profile API if needed
    
    -- Handoff State
    is_handoff_active boolean default false,
    handoff_until timestamp with time zone, -- Auto-revert time
    
    -- Status
    status text default 'active', -- active, blocked, attention_required
    note text, -- Admin notes
    
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
    
    primary key (tenant_id, user_id)
);

-- 2. Tickets Table (Support Queue)
create table if not exists public.tickets (
    id uuid default uuid_generate_v4() primary key,
    tenant_id text references public.tenants(tenant_id),
    user_id text not null,
    
    status text default 'open', -- open, in_progress, resolved
    priority text default 'normal', -- low, normal, high
    
    assigned_to text, -- Operator ID (future use)
    last_message_summary text, -- AI summary of the issue
    
    created_at timestamp with time zone default timezone('utc'::text, now()) not null,
    updated_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- RLS Policies
alter table public.users enable row level security;
alter table public.tickets enable row level security;

create policy "Service role has full access to users"
    on public.users for all
    using ( true )
    with check ( true );

create policy "Service role has full access to tickets"
    on public.tickets for all
    using ( true )
    with check ( true );

-- Notification Webhook URL col for Tenants
alter table public.tenants 
add column if not exists notification_webhook_url text;
